
.vs/MVPConfGames/v16/Server/sqlite3/storage.ide-wal
.vs/MVPConfGames/v16/Server/sqlite3/storage.ide-shm
.vs/MVPConfGames/v16/Server/sqlite3/storage.ide
.vs/MVPConfGames/v16/Server/sqlite3/db.lock
.vs/MVPConfGames/v16/.suo
.vs/MVPConfGames/DesignTimeBuild/.dtbcache
